{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid mx-auto col-6" style="padding-top: 30px;">
<div class="container-fluid mx-auto col-6">
    <div class="card border-dark mb-3" style="width: 18rem;">
        <img src="../static/yo.jpeg" class="card-img-top" alt="sergio">
        <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Sergio Padilla</h5>
        <p class="card-text" style="text-align: center;">Computer engineering graduate</p>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-dark">Contact</a>
        </div>
        </div>
    </div>
</div>
</div>
<div class="row" style="padding-top: 30px">
    <div class="col-sm-6">
        <div class="card border-dark">
            <div class="card-header">
                Vocational training
            </div>
            <div class="card-body">
                <h5 class="card-title">Universidad de Guadalajara</h5>
                <p class="card-text">Computer engineering student 2016-2020</p>
                <h5 class="card-title">English</h5>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-lg-row-reverse" style="padding-top: 30px">
    <div class="col-sm-6 float-md-right">
        <div class="card border-dark">
            <div class="card-header">
                Skills
            </div>
            <div class="card-body">
                <h5 class="card-title">Develop skills</h5>
                <p class="card-text">
                    <ul>
                        <li>
                            <p>Python</p>
                        </li>
                        <li>
                            <p>Django/Flask</p>
                        </li>
                        <li>
                            <p>HTML/CSS/JS</p>
                        </li>
                        <li>
                            <p>Laravel</p>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

